<ul class="todoes">
  <app-todo-search></app-todo-search>
  <li *ngFor="let todo of todoes"
      (click)="onSelect(todo)" >
    <span class="badge">{{todo.id}}</span> {{todo.message}}
    <button class="delete" (click)="delete(todo); $event.stopPropagation()">X</button>
  </li>
</ul>
<div>
  <label>Todo name:</label> <input #todoName/>
  <button (click)="add(todoName.value); todoName.value=''">
    Add
  </button>
</div>
<div *ngIf="selectedTodo">
  <h2>
    {{selectedTodo.id}} is selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
