<!--The whole content below can be removed with the new code.-->
<div>
  <h2>Heros</h2>
  <ul class="heros">
    <li *ngFor="let hero of heros" (click)="onSelect(hero)" [class.selected]="hero=== selectedHero">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>  
  </ul>

</div>
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name}} details!</h2>
  <div><label>id: </label>{{selectedHero.id}}</div>
  <div>
    <label>name: </label>
    <input ng-model="selectedHero.name" type="text">
  </div>  
</div>